.App__header, .App__main, .App__footer {
  padding: 0.6em;
}

.App__header {
  background-color: gray;
}

.App__footer {
  height: 100px;
  background-color: darkgrey;
}

@media screen and (min-width: 450px) {
  
}